.parent {
  position: relative;
  top: 0;
  left: 0;
}

.img {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  width: 25%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3%;
  height: auto;
  z-index: 99;
  border-radius: 3%;
}

.img2 {
  position: absolute;
  top: 30px;
  left: 30px;
  float: left;
  width: 15%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3%;
  height: auto;
  z-index: 9;
  border-radius: 3%;
}

.img:hover {
  animation-name: hinge;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes hinge {
  0% {
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    transform: rotate3d(0, 0, 1, 80deg);
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    transform: rotate3d(0, 0, 1, 60deg);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  animation-duration: calc(var(--animate-duration) * 2);
  animation-name: hinge;
  transform-origin: top left;
}
